body{
    font-family: 'Roboto', sans-serif;
}
.header{
    max-height: 110px;
    text-align: center;
    color: #3E45E8;
    font-size: 54px;
    font-weight: 400;
    font-family: 'M PLUS 1', sans-serif;
    font-weight: 400;
    padding: 25px;
    
    
}
.h1{
    font-size: 40px;
    font-weight: 700;
    margin: 60px 0px 25px;
}
.header2{
    max-height: 110px;
    text-align: center;
    color: #E8C23E; 
    font-size: 54px;
}
.banner{
    height: 803px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../img/image1.png");
    padding-left: 80px;
    box-sizing: border-box;
    padding-top: 208px;
}
    .content{
        height: 272px;
        font-size: 48px;
        color: white;
        font-weight: 700;
        width: 70%;
        padding-left: 3%;
        box-sizing: border-box;
        background-repeat: no-repeat;
        background-image: url("../img/flag.png");
       
    }
    .line{
        width: 401px;
        border-bottom: solid #3E45E8; 
    }

    .card{
        
        width: 30%;
        color: #1E8DF2;
        display: inline-block;
        vertical-align:top;
        overflow: hidden;
        border-radius: 30px;
        box-shadow: 0px 4px 57px 3px rgba(0, 0, 0, 0.25);
        max-width: 390px;
        min-height: 480;
    }
    
    .card__image{
        width: 100%;
    }
    .card_margin{
        margin: 0 4%;
    }
    .card__title{
        font-size: 24px;
        padding: 4px;
        padding-left: 10px;
        font-weight: 900;
        color: #1E8DF2;
        box-sizing: border-box;
        
    }
    .card__subtitle{
        font-size: 20px;
        font-weight: 400;
        color: #E8C23E;
        margin: auto 10px;
        box-sizing: border-box;
        
    }
    .main{
        padding: 0 80px;
    }
    .places{
    display: flex;
    justify-content: space-evenly;
    margin-top: 35px
    }
    .ukraine {
        margin: 75px auto 21px auto;
    }
    .ukraine_map img{
        display: block;
        margin: 0 auto;
    }
    
    .center_text {
        margin: 0 auto;
        text-align: center;
    }

    .center_line {
        margin: 5px auto 40px auto;
    }
    .support_btn {
        display: block;
        margin: 0 auto;
        margin-top: 50px;
        width: 591px;
        height: 121px;
        background: #2A61F0;
        border: none;
       
    }
    .support_btn a {
        font-family: 'Inika';
        font-weight: 700;
        font-size: 64px;
        color: #FFFFFF;
        text-decoration: none;}

        footer {
            background: #2F4A4B;
            padding-top: 10px;
            text-align: center;
        }
        
        .footer_contact {
            display: block;
            font-family: 'Marcellus SC';
            font-weight: 400;
            font-size: 36px;
            line-height: 45px;
            letter-spacing: 0.1em;
            color: #A89D9D;
            text-decoration: none;
            margin-top: 25px;
        }
        
        .footer_contacts {
            margin-top: 20px;
            display: flex;
            justify-content: center;
        }

        .footer_title{
        
    text-align: center;
    color: #3E45E8;
    font-size: 48px;
    font-weight: 400;
    font-family: 'M PLUS 1', sans-serif;
    font-weight: 400;
        }
        .yellow_text{
            color: #DFE31E
        }

        .footer_contacts-item{
            max-width: 63px;
            max-height: 63px;
        }

        .ukraine_map{
            display: block;
  margin: 0 auto;
        }

